@charset "utf-8";

/*******首页样式 开始*******/
.top{
	width: 100%;
	/*background-color: #FFFFFF;*/
}
.top img{
	width: 100%;
}
.banner{
	width: 100%;
}
.banner img{
	width: 100%;
}

.gsjj{
	width: 100%;
	margin: 0 auto;
}
.gsjj img{
	width: 92%;
	margin: 20px 4%;
}
.gsjj h3{
	color: #2fa8e1;
}
.gsjj p{
	width: 84%;
	margin: 24px auto 0px;
	font-size: 15px;
	/*font-size: calc(10vw/2.5);*/
	line-height: 30px;
	text-align: justify;
	text-align-last: center;
}
.gsjj p:last-child{
	margin-bottom: 30px;
}

.qyry{
	width: 100%;
	background-color: #2fa8e1;
	padding: 20px 0px;
}
.qyry h3{
	font-size:26px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 20px;
}
.qyry ul{
	width: 86%;
	margin: 0 auto;
	overflow: hidden;
}
.qyry ul li{
	float: left;
	width: 48%;
	margin: 0 4% 10px 0;
}
.qyry ul li:nth-child(2n){
	margin-right: 0px;
}
.qyry ul li img{
	width: 100%;
}

.cpzx{
	width: 100%;
	border-bottom: 1px solid #c1c1c1;
	padding: 20px 0px 20px;
}
.cpzx h3{
	color: #2fa8e1;
	margin-bottom: 20px;
}
.cpzx .index-list1{
	position: relative;
}
.cpzx .swiper-list1{
	width: 70% !important;
	margin: 0 15%;
	position: initial;
}
.cpzx .swiper-slide img{
	border: 3px solid #175893;
	width: 100%;
}
.cpzx  p{
	color: #454545;
	font-size: 15px;
	/*font-size: calc(10vw/2.5);*/
	line-height: 32px;
	text-align: center;
	font-weight: lighter;
	

}
.cpzx .swiper-list1 .swiper-button-next{
	right: 4%;
	background-image: url(../images/ico-jtr.png);
}
.cpzx .swiper-list1 .swiper-button-prev{
	left: 4%;
	background-image: url(../images/ico-jtl.png);
}



.spzx{
	width: 100%;
	background-color: #424347;
	padding: 20px 0px;
}
.spzx h3{
	color: #FFFFFF;
	padding-bottom: 20px;
}
.spzx-m{
	width:74% ;
	margin: 0 13%;
}
.spzx-m ul {
	display: flex;
	justify-content:space-between;
}
.spzx-m ul li{
	width: 30%;
	height: 32px;
	font-size: 15px;
	/*font-size: calc(10vw/2.5);*/
	line-height: 32px;
	letter-spacing:1px;
	text-align: center;
	color: #FFFFFF;
	background-color: #545559;
	overflow: hidden;
}
.spzx-m .spzx-main-b{
	background-color:#ff6c2b ;
}
.spzx-s{
	overflow: hidden;
}
.spzx-son{
	width: 90%;
	height: 260px;
	margin: 0 5%;
	border-radius: 8%;
	background-color: #545559;
	margin: 20px auto 10px;
	text-align: center;
    display: none;
	overflow: hidden;
}



.hyfx{
	width: 100%;
	padding: 20px 0px;
}
.hyfx>h3{
	color: #2fa8e1;
}
.hyfx .swiper-list2 {
	width: 84% !important;
	margin: 0 8%;
	padding: 20px 0px 60px;
}
.hyfx .swiper-list2 .swiper-slide{
	width: 100% !important;
	
}
.hyfx .swiper-list2 .swiper-slide div img{
	width: 100%;
}
.hyfx .swiper-list2 .swiper-slide>p{
	font-size: 15px;
	/*font-size: calc(10vw/2.5);*/
	line-height: 30px;
	text-align: justify;
	text-align-last: center;
	padding: 10px 0px 6px;
	
}
.hyfx .swiper-list2 .hyfx-lb{
	width: 100%;
	border-radius: 5%;
	overflow: hidden;
	color: #FFFFFF;
	font-size: 15px;
	/*font-size: calc(10vw/2.5);*/
	line-height: 24px;
}
.hyfx .swiper-list2 .hyfx-lb h3{
	font-weight: 500;
	letter-spacing:2px;
}
.hyfx .swiper-list2 .hyfx-lb div{
	padding: 5px 0px;
}
.hyfx .swiper-list2 .hyfx-lb>div{
	width: 100%;
	background-color: #2fa8e1;
	text-align: center;
}
.hyfx .swiper-list2 .swiper-button-next{
	background-image: none;
	top:92%;
	right: 8%;
	width: 33%;
	height: 32px;
	border: 2px solid #2fa8e1;
	font-size: 16px;
	text-align: center;
	line-height: 28px;
	margin-top: -10px;
}
.hyfx .swiper-list2 .swiper-button-prev{
	background-image: none;
	top:92%;
	left: 8%;
	width: 33%;
	height: 32px;
	border: 2px solid #2fa8e1;
	font-size: 16px;
	text-align: center;
	line-height: 28px;
	margin-top: -10px;
}

.kc{
	width: 100%;
}
.kc img{
	width: 100%;
}


.cont{
	width: 70%;
	margin: 0 15%;
	padding-top: 20px;
	
}
.cont ul{
	width: 100%;
	
}
.cont ul li{
	width: 100%;
	color: #585858;
}
.cont ul li img{
	width: 100%;
}
.cont ul li:first-child{
	border-bottom: 1px solid #d9d9da;
	padding: 12px 0px;
}
.cont ul li h3{
	font-weight: 600;
	margin-bottom: 4px;
	font-size: 15px;
}
.cont ul li p{
	font-size: 15px;
}


.banquan{
	width: 100%;
	color: #424347;
	font-weight: lighter;
	border-top: 1px solid #d9d9da;
	text-align: center;
	line-height: 40px;
}

.ico-top{
	width: 14%;
	position: fixed;
	top: 60%;
	right: 2%;
	z-index: 99;
}
.ico-top img{
	width: 100%;
}













