@charset "utf-8";
/* CSS Document */
@font-face {
 font-family: 'myFont';
 src: url('../font/SourceHanSansCN-Light.otf');
 }
 @font-face {
 font-family: 'myEnglish';
 src: url('../font/DIDOT-HTF-L06-LIGHT.OTF');
 }
 
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }  /*让这些的标签内外边距都是0*/
fieldset, img {  border:none; vertical-align: middle; }
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;   }
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; }
table { border-collapse:collapse; }
body { color:#555555;  font:12px "myFont";  margin: auto;}
h1,h2,h3,h4,h5,h6{font-family: "myFont";}
a{color:#333; text-decoration:none;  font-family: "myFont";}
a:hover{ color:#333; text-decoration:none; font-family: "myFont";}
header {background-color:#FFFFFF;;}

/* 常用代码  */
.clearfix:after { content:""; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { *zoom:1; }
.wrap{ width: 1400px;  margin-left: auto; margin-right: auto;  }
.fl{ float:left;}
.fr{ float:right;}
.bx{width: 1400px; margin: 0 auto;}
@keyframes rotate{
    0%{ opacity: 0; transform: scale(.4); }
    100%{  opacity: 1; transform: scale(1); }
}
@keyframes leftNav {
    0%   { transform:translate(-200px,0px);opacity:0;}
    100% {transform:translate(0px,0px);opacity:1}
}
@keyframes rightNav {
    0%   { transform:translate(200px,0px);opacity:0;}
    100% {transform:translate(0px,0px);opacity:1}
}
@keyframes graduallyShow {
	0%   {transform:translate(-200px,0px); opacity:0;}
    100% {transform:translate(0px,0px);opacity:1;}
}


.header{
    height: 78px;
    color: #1a7bbf;   
}
.header-l{
	line-height: 77px;
}
.header-r >ul > li{
    float: left;
    margin: 0px 42px;
}
.header-r >ul > li:last-child{
	margin-right: 0px;
}
.header-r >ul > li > a{

    padding: 8px 0px;
    font-size: 16px;
    color: #333333;
    line-height: 80px;
}
.header-r >ul > li > a:hover{
	color: #019e97;
}
.header-r .nowaday{
	border-bottom: 4px solid #019e97;
}
.header-r .nowaday a{
	color: #019e97;
	font-weight: bold;
}
.nav-select{
    padding: 0 4px 2px;
    margin: -6px 20px 0;
    font-size: 14px;
    color: #333;
}

.header-r  li ul {
      position: absolute;
      top: 80px;
      display: none;
      z-index: 1;
    }
.header-r  li ul>li{
      height: 40px;
      background-color: #FFFFFF;
    }
.header-r  li ul>li>a{
    margin: 0px 20px;
    font-size: 16px;
    color: #333;
    line-height: 40px;
    }    
.header-r  li ul>li>a:hover{
	color: #01A2BF;
	font-weight: bold;
} 
 /*副banner*/  
 .f-banner{
 	width: 100%;
 	height: 558px;
 	margin: 0 auto;
 	position: relative;
 	overflow: hidden;
 }
  .f-banner .f-banner-bg{
 	width: 1920px;
 	position: absolute;
    left: 50%;
    margin-left: -960px;
 	/*position:*/ 
 }
  .f-banner .f-banner-text{
 	width: 1400px;
 	position: absolute;
 	z-index: 1;
 }  

.footer{
    height: 500px;
    background: url(../image/bottom-bg.jpg) no-repeat center;
}
.footer-x-bg {
	width: 1400px;
	margin: 0 auto;
}
.footer-x-bg img{
	margin-top: 40px;
}

.footer ul{
	width: 1380px;
	height: 208px;
	margin: 54px auto 0px;
	display: block;
}
.footer ul li{
	height: 166px;
	border-right: 1px solid #0caea8;
	float: left;
	display: flex;
	flex-direction:column;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: 21px auto;
	/*padding:0px 54px;*/
	color: #d9f2fa;
	width: 18%;
}
.footer ul li:first-child{
	border-right: 1px solid #FFFFFF;
	width: 24%;
}
.footer ul li:first-child img{
	width: 177px;
	height: 177px;
}
.footer ul li:last-child{
	border-right: none;
	width: 31%;
}
.footer ul li:nth-child(3){
	width: 26.5%;
}
.footer ul li img{
	width: 43px;
	height: 43px;
}
.footer ul li p{
	font-size: 27px;
}
.footer ul li h2{
	font-size: 22px;
	font-weight: initial;
}
.footer ul li h4{
	font-size: 14px;
	font-weight: lighter;
}
.footer ul li h3{
	font-size: 16px;
	font-weight: lighter;
}
.footer-bq{
	width: 100%;
	height: 64px;
	font-size: 16px;
	line-height: 64px;
	text-align: center;
	color: #999999;
	background-color: #000000;
}


/**

 */