 .f-banner .f-banner-text{
 	top:36%;
 } 
 .contact{
 	width: 100%;
 	height: 456px;
 }
 .contact .bx{
 	height: 456px;
 	padding: 0 30px;
 	overflow: hidden;
 	padding-top: 94px;
 }
.contact-text{
	float: left;
}
.contact-text p{
	font-size: 46px;
	font-family: "微软雅黑";
	font-weight: bold;
	color: #01A2BF;
	margin-bottom: 20px;
}
.contact-text h3{
	font-size: 20px;
	font-weight: lighter;
	line-height: 40px;
}
.contact-ewm{
	width: 162px;
	height: 232px;
	float: right;
	border: 1px solid #d5d5d5;
	border-top: 5px solid #01A2BF;
}
.contact-ewm img{
	width: 142px;
	height: 142px;
	display: block;
	margin: 10px auto;
}
.contact-ewm p{
	font-size: 18px;
	text-align: center;
}
.contact-ewm span{
	font-family: "微软雅黑";
	font-weight: bold;
	color: #000000;
}
