

/*banner*/
.banner .swiper-pagination-bullet-active{
    background: #fff;
}


/*内容1开始*/
.main01{
    margin-top: 80px;
}
.main01-l{
    width: 50%;
}
.main01-l h3{
    font-size: 27px;
    color: #373737;
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 30px;
}
.main01-l h3 b{
    font-size: 30px;
    color: #b90a02;
}
.main01-l p{
    font-size: 18px;
    color: #373737;
    line-height: 40px;
}
.main01-l p span{
    color: #b90a02;
}
.main01-l-video{
    position: relative;
    height: 220px;
    margin-top: 15px;
}
.main01-l-video .video{
    width: 290px;
    height: 165px;
    background: #333;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
.main01-l-video .video-bg{
    width: 290px;
    height: 165px;
    background: #e7e7e7;
    position: absolute;
    left: 8px;
    top: 8px;
    z-index: 1;
}
.main01-l-video-btn{
    font-size: 18px;
    color: #333;
    position: absolute;
    left: 60px;
    top: 185px;
}


.main01-r{
    width: 45%;
    position: relative;
}
.main01-r img{
    width: 100%;
    transition: all 0.6s;
}
.main01-r img:hover{
    transform: scale(1.1);
}
.main01-more{
    position: absolute;
    left: -90px;
    bottom: -20px;
    width: 150px;
    height: 60px;
    line-height: 60px;
    background: #e4cd89;
}
.main01-more a{
    display: block;
    font-size: 18px;
    color: #593a1c;
    padding-left: 22px;
    background: url(../images/allow.png) no-repeat 106px center;
}


/*内容2开始*/
.main02{
    width: 100%;
    height: 872px;
    background: url(../images/main02.png) no-repeat top center;
    margin-top: 50px;
}


/*内容3开始*/
.main03{
    margin-top: 70px;
}
.main03-l{
    width: 290px;
    background: #980b04;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 91px;
}
.main03-l-ul{
    text-align: left;
    padding: 0 30px;
}
.main03-l-ul li{
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #ab3c35;
}
.main03-l-ul li a{
    color: #fdf4f5;
    font-size: 20px;
    background: url(../images/allow2.png) no-repeat right center;
    display: block;
    width: 180px;
    margin: 0 auto;
}

.main03-r h3{
    font-size: 36px;
    color: #373737;
    text-align: center;
}
.main03-r h3 span{
    color: #970a04;
}
.banner2{
    width: 880px;
    margin-bottom: 16px;
    margin-top: 16px;
}
.banner2 .swiper-pagination-bullet-active{
    background: #fff;
}
.banner3{
    width: 880px;
    position: relative;
}
.banner3 .swiper-pagination-bullet-active{
    background: #fff;
}
.banner3 .magnifier{
    width: 216px;
    height: 175px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/magnifier.png) no-repeat left top;
    z-index: 2;
}

.main03-ft{
    width: 100%;
    height: 214px;
    background: #fff8ee;
    margin-top: 10px;
}
.main03-ft ul{
    width: 1600px;
    margin: 0 auto;
    padding-top: 34px;
}
.main03-ft li{
    float: left;
    width: 98px;
    height: 140px;
    padding: 0 50px;
    border-right: 1px dashed #b7b4af;
}
.main03-ft .main03-ft-li8{
    border-right: 0 none;
}
.main03-ft-li1{
    background: url(../images/icon1.png) no-repeat center;
    transition: all .5s;
}
.main03-ft-li2{
    background: url(../images/icon2.png) no-repeat center;
    transition: all .5s;
}
.main03-ft-li3{
    background: url(../images/icon3.png) no-repeat center;
    transition: all .5s;
}
.main03-ft-li4{
    background: url(../images/icon4.png) no-repeat center;
    transition: all .5s;
}
.main03-ft-li5{
    background: url(../images/icon5.png) no-repeat center;
    transition: all .5s;
}
.main03-ft-li6{
    background: url(../images/icon6.png) no-repeat center;
    transition: all .5s;
}
.main03-ft-li7{
    background: url(../images/icon7.png) no-repeat center;
    transition: all .5s;
}
.main03-ft-li8{
    background: url(../images/icon8.png) no-repeat center;
    transition: all .5s;
}
.main03-ft-li1:hover{
    background: url(../images/icon1-1.png) no-repeat center;
}
.main03-ft-li2:hover{
    background: url(../images/icon2-1.png) no-repeat center;
}
.main03-ft-li3:hover{
    background: url(../images/icon3-1.png) no-repeat center;
}
.main03-ft-li4:hover{
    background: url(../images/icon4-1.png) no-repeat center;
}
.main03-ft-li5:hover{
    background: url(../images/icon5-1.png) no-repeat center;
}
.main03-ft-li6:hover{
    background: url(../images/icon6-1.png) no-repeat center;
}
.main03-ft-li7:hover{
    background: url(../images/icon7-1.png) no-repeat center;
}
.main03-ft-li8:hover{
    background: url(../images/icon8-1.png) no-repeat center;
}


/*内容4开始*/
.main04{
    margin-top: 80px;
}
.main04-hd{
    display: block;
    width: 610px;
    margin: 0 auto 40px;
}
.main04-bd{
    width: 100%;
    height: 640px;
    background: url(../images/main04Bg.png) no-repeat center top;
}
.banner4{
    width: 1200px;
    height: 646px;
    margin: 0 auto;
    position: relative;
}
.banner4 .swiper-pagination-bullet-active{
    background: #fff;
}
.banner4 .swiper-button-prev{
    width: 28px;
    height: 105px;
    margin-top: -52px;
    background: url(../images/allowL.png) no-repeat center top;
}
.banner4 .swiper-button-next{
    width: 28px;
    height: 105px;
    margin-top: -52px;
    background: url(../images/allowR.png) no-repeat center top;
}
.banner4Bg{
    position: absolute;
    left: 0;
    top: -19px;
    width: 133px;
    height: 19px;
    background: url(../images/main04bg1.png) no-repeat;
    z-index: 2;
}
.banner4-title{
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 3;
    width: 108px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 24px;
    color: #593a1c;
    background: #e4cd89;
}

/*内容5开始*/
.main05{
    margin-top: 80px;
    width: 100%;
    height: 748px;
    background: url(../images/main05.png) no-repeat top center;
}
.banner5{
    width: 1200px;
    margin: 0 auto;
    padding-top: 200px;
    position: relative;
}
.banner5 .swiper-button-prev{
    width: 18px;
    height: 69px;
    margin-top: 69px;
    left: -32px;
    outline: none;
    background: url(../images/allowL2.png) no-repeat center top;
}
.banner5 .swiper-button-next{
    width: 18px;
    height: 69px;
    margin-top: 69px;
    right: -32px;
    outline: none;
    background: url(../images/allowR2.png) no-repeat center top;
}
.swiper-container .swiper-slide{
    overflow: hidden;
}
.swiper-container img{
    transition: all 0.6s;
}
.swiper-container img:hover{
    transform: scale(1.1);
}


/*内容6开始*/
.main06{
    margin-top: 80px;
}
.main06-hd{
    display: block;
    width: 296px;
    margin: 0 auto 40px;
}
.main06-bd-l{
    background: #f9f9f9;
    padding: 20px 20px 42px;
    width: 550px;
    overflow: hidden;
}
.main06-bd-l img{
    height: 316px;
    width: 550px;
    transition: all 0.6s;
}
.main06-bd-l img:hover{
    transform: scale(1.1);
}
.main06-bd-l h3{
    color: #970a04;
    font-size: 20px;
    margin: 24px 0px;
}
.main06-bd-l p{
    color: #525252;
    font-size: 18px;
    line-height: 30px;
}
.main06-bd-r{
    width: 580px;
}
.main06-bd-r li{
    margin-bottom: 20px;
}
.main06-item{
    display: block;
    background: #f9f9f9;
    padding: 20px 10px;
}
.main06-item-l{
    transition: all 0.6s;
}
.main06-item-l:hover{
    transform: scale(1.1);
}
.main06-item-r{
    width: 380px;
    display: block;
}
.main06-item-r h6{
    color: #525252;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 400;
}
.main06-item-r .main06-item-abstract{
    color: #525252;
    font-size: 16px;
    line-height: 30px;
    display: block;
    height: 60px;
    overflow: hidden;
}
.main06-item-r .main06-item-date{
    color: #525252;
    font-size: 12px;
}

/*内容7开始*/
.main07{
    width: 100%;
    height: 406px;
    background: url(../images/main07.png) no-repeat top center;
    margin-top: 50px;
}


